html, body
{
  color: white;
  overflow: hidden;
}

.menu {
    list-style: none;
    z-index: 10;
    cursor: pointer;
    margin-right: -20px;
}

.lists {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    color: white;
	display: inline;
}

.Alink:link,
.Alink:visited {
    color: white;
    text-align: center;
    text-decoration: none;
}

.Alink:hover,
.Alink:active {
    color: white;
}

.discription{
	width: 700px;
}

.UI_div{
    background: rgb(117,123,200);
    background: linear-gradient(90deg, rgba(117,123,200,1) 10%, rgba(129,135,220,1) 20%, rgba(142,148,242,1) 30%, rgba(159,160,255,1) 40%, rgba(173,167,255,1) 50%, rgba(187,173,255,1) 60%, rgba(203,178,254,1) 70%, rgba(221,189,252,1) 80%, rgba(224,195,252,1) 90%);
}

.text_hello{
    padding-top: 150px;
    margin-bottom: 257px;
}

#bold{
    font-weight: bold;
    font-size: 60px;
}

.login_div{
    color: rgb(117,123,200);
    padding-top: 200px;
}

#login_button{
    color: white;
    background-color: rgb(117,123,200);
}

#logo{
    margin-right: -20px;
}

.brand{
    margin-top: -15px;
}

.bg{
    background: rgb(117,123,200);
    background: linear-gradient(90deg, rgba(117,123,200,1) 10%, rgba(129,135,220,1) 20%, rgba(142,148,242,1) 30%, rgba(159,160,255,1) 40%, rgba(173,167,255,1) 50%, rgba(187,173,255,1) 60%, rgba(203,178,254,1) 70%, rgba(221,189,252,1) 80%, rgba(224,195,252,1) 90%);
}

#logo2{
    margin-left: -30px;
}

.new_room_btn{
    background-color: white;
    color: rgb(117,123,200);
}

.new_room_btn:hover{
    color: rgb(117,123,200);
}

#output{
    background-color: white;
    border-radius: 10px;
    width: 550px;
    color: rgb(117,123,200);
    cursor: pointer;
}